

<div class="container px-3 my-7 clearfix">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">All Products</h3>
            <button class="btn btn-success" > 
                <a class="nav-link" routerLinkActive="active" routerLink="addProduct">cart</a>
             </button>
            <table class="table table-bordered m-0">
                <thead>
                    <tr>
                        <th class="text-center py-3 px-4" style="width: 300px;">Product</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center py-3 px-4" style="width: 120px;">Image</th>
                        <th class="text-right py-3 px-4" style="width: 50px;">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor=" let product of myArray">
                            <td>{{product.name}}</td>
                            <td>{{product.price}} L.E</td>
                            <td><img src="{{product.imgURL}}" alt="" srcset=""> </td>
                            <td>
                                <span>{{product.available}}</span>
                                <button class="btn btn-warning">Edit</button>
                                <button class="btn btn-danger">Delet</button>

                            </td>
                                                
                    </tr>
              


                </tbody>


            </table>
        </div>
    </div>
</div>