<h1>Add Product</h1>
<!-- /////////////////////////////////////// -->
<div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Product Name</label>
    <input type="text" id="form2Example1" class="form-control" />
    
</div>


<!-- ////////////////////////////////////////// -->
<div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Price</label>
    <input type="text" id="form2Example1" class="form-control"/>
    
</div>


<!-- //////////////////////////////////////////// -->
<div class="input-group mb-3">
    <span> Product category </span>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  <!-- //////////////////////////////////////////// -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Product Picture</label>
    <input type="text" id="form2Example1" class="form-control"/>
    
</div>
<!-- //////////////////////////////////////////////// -->
<button type="button" class="btn btn-secondary">Save</button>
<button type="button" class="btn btn-secondary">Reset</button>